.profile__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;


    .profile__title{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .profile__name{
        font-size: 48px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: -0.04rem;
        line-height: 48px;
    }

    .profile__subtitle{
        font-size: 10px;
        text-transform: uppercase;
    }
}