.layout{
    min-height: 568px;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: row;

    .content{
        width: 100%;
        min-height: 568px;
        height: 100vh;
        overflow-y: auto;
        display: block;
        background-color: #282828;
        position:relative;
        padding: 75px 25px 75px 25px;
    }
}
    