.menu__item {
    margin-left: 1.5rem;
    &:last-child {
      margin-right: 1.5rem;
    }

    .menu__link {
      font-size: 1.5rem;
      text-decoration: none;
      cursor: pointer;
      color: inherit;
      transition: 0.2s ease-in-out;
      &:hover {
        color: rgb(255, 33, 115);
      }
      .menu__icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
        color: inherit;
      }
    }
  }